<!-- 憲政熱映 -->
<div class="container-xl">
    <section id="stream" class="p_3 mb-5 pb-5">
        <div class="container-xl pb-5" style="overflow: visible">
            <div class="row stream_1">
                <div class="col-md-12">
                    
                    <h1 class="col_red mt-3">現正熱映</h1>
                </div>
            </div>
            <div class="row stream_2 mt-4">
                <div class="col-md-12">
                    <div id="movieCarousel"
                         class="carousel slide"
                         data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <!-- First carousel item with movies 1-4 -->
                            <div class="carousel-item active">
                                <div class="row">
                                    <!-- Movie 1 -->
                                    <div class="col-md-3 col-6">
                                        <div class="movie-card-wrapper">
                                            <div class="card bg-dark text-white movie-card">
                                                <img src="./IMG/Movie 9.png" class="card-img-top" alt="Movie Poster" />
                                                <div class="card-body">
                                                    <div class="movie-titles">

                                                        <h5 class="card-title mb-2">電影中文標題</h5>
                                                        <h6 class="card-subtitle mb-2 text-muted">Movie English Title</h6>
                                                    </div>
                                                    <div class="card-buttons ">
                                                        <a href="#" class="btn btn-dark">場次</a>
                                                        <a href="#" class="btn btn-dark">預告</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Movie 2 -->
                                    <div class="col-md-3 col-6">
                                        <div class="movie-card-wrapper">
                                            <div class="card bg-dark text-white movie-card">
                                                <img src="./IMG/Movie 10.png" class="card-img-top" alt="Movie Poster" />
                                                <div class="card-body">
                                                    <div class="movie-titles">

                                                        <h5 class="card-title mb-2">電影中文標題</h5>
                                                        <h6 class="card-subtitle mb-2 text-muted">Movie English Title</h6>
                                                    </div>
                                                    <div class="card-buttons ">
                                                        <a href="#" class="btn btn-dark">場次</a>
                                                        <a href="#" class="btn btn-dark">預告</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Movie 3 -->
                                    <div class="col-md-3 col-6">
                                        <div class="movie-card-wrapper">
                                            <div class="card bg-dark text-white movie-card">
                                                <img src="./IMG/Movie 11.png" class="card-img-top" alt="Movie Poster" />
                                                <div class="card-body">
                                                    <h6 class="font_14 col_red">ROMANCE, DRAMA</h6>
                                                    <h4 class="card-title">Movie 3</h4>
                                                    <h6 class="font_14 mb-0">
                                                        <a class="text-white me-1 font_60 align-middle lh-1" href="#">
                                                            <i class="fa-solid fa-circle-play"></i>
                                                        </a>
                                                        SEASON 1 - 2020
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Movie 4 -->
                                    <div class="col-md-3 col-6">
                                        <div class="movie-card-wrapper">
                                            <div class="card bg-dark text-white movie-card">
                                                <img src="./IMG/Movie 12.png" class="card-img-top" alt="Movie Poster" />
                                                <div class="card-body">
                                                    <h6 class="font_14 col_red">ROMANCE, DRAMA</h6>
                                                    <h4 class="card-title">Movie 4</h4>
                                                    <h6 class="font_14 mb-0">
                                                        <a class="text-white me-1 font_60 align-middle lh-1" href="#">
                                                            <i class="fa-solid fa-circle-play"></i>
                                                        </a>
                                                        SEASON 1 - 2020
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Second carousel item with movies 2-5 -->
                            <div class="carousel-item">
                                <div class="row">
                                    <!-- Movie 2 -->
                                    <div class="col-md-3 col-6 mb-4">
                                        <div class="movie-card-wrapper">
                                            <div class="card bg-dark text-white movie-card">
                                                <img src="./IMG/Movie 10.png" class="card-img-top" alt="Movie Poster" />
                                                <div class="card-body">
                                                    <h6 class="font_14 col_red">ROMANCE, DRAMA</h6>
                                                    <h4 class="card-title">Movie 2</h4>
                                                    <h6 class="font_14 mb-0">
                                                        <a class="text-white me-1 font_60 align-middle lh-1" href="#">
                                                            <i class="fa-solid fa-circle-play"></i>
                                                        </a>
                                                        SEASON 1 - 2020
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Movie 3 -->
                                    <div class="col-md-3 col-6 mb-4">
                                        <div class="movie-card-wrapper">
                                            <div class="card bg-dark text-white movie-card">
                                                <img src="./IMG/Movie 11.png" class="card-img-top" alt="Movie Poster" />
                                                <div class="card-body">
                                                    <h6 class="font_14 col_red">ROMANCE, DRAMA</h6>
                                                    <h4 class="card-title">Movie 3</h4>
                                                    <h6 class="font_14 mb-0">
                                                        <a class="text-white me-1 font_60 align-middle lh-1" href="#">
                                                            <i class="fa-solid fa-circle-play"></i>
                                                        </a>
                                                        SEASON 1 - 2020
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Movie 4 -->
                                    <div class="col-md-3 col-6 mb-4">
                                        <div class="movie-card-wrapper">
                                            <div class="card bg-dark text-white movie-card">
                                                <img src="./IMG/Movie 12.png" class="card-img-top" alt="Movie Poster" />
                                                <div class="card-body">
                                                    <h6 class="font_14 col_red">ROMANCE, DRAMA</h6>
                                                    <h4 class="card-title">Movie 4</h4>
                                                    <h6 class="font_14 mb-0">
                                                        <a class="text-white me-1 font_60 align-middle lh-1" href="#">
                                                            <i class="fa-solid fa-circle-play"></i>
                                                        </a>
                                                        SEASON 1 - 2020
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Movie 5 -->
                                    <div class="col-md-3 col-6 mb-4">
                                        <div class="movie-card-wrapper">
                                            <div class="card bg-dark text-white movie-card">
                                                <img src="./IMG/Movie 13.png" class="card-img-top" alt="Movie Poster" />
                                                <div class="card-body">
                                                    <h6 class="font_14 col_red">ROMANCE, DRAMA</h6>
                                                    <h4 class="card-title">Movie 5</h4>
                                                    <h6 class="font_14 mb-0">
                                                        <a class="text-white me-1 font_60 align-middle lh-1" href="#">
                                                            <i class="fa-solid fa-circle-play"></i>
                                                        </a>
                                                        SEASON 1 - 2020
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Add more carousel-item divs for additional slides -->
                            <div class="carousel-item">
                                <div class="row">
                                    <!-- Movie 3 -->
                                    <div class="col-md-3 col-6 mb-4">
                                        <div class="movie-card-wrapper">
                                            <div class="card bg-dark text-white movie-card">
                                                <img src="./IMG/Movie 11.png" class="card-img-top" alt="Movie Poster" />
                                                <div class="card-body">
                                                    <h6 class="font_14 col_red">ROMANCE, DRAMA</h6>
                                                    <h4 class="card-title">Movie 3</h4>
                                                    <h6 class="font_14 mb-0">
                                                        <a class="text-white me-1 font_60 align-middle lh-1" href="#">
                                                            <i class="fa-solid fa-circle-play"></i>
                                                        </a>
                                                        SEASON 1 - 2020
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Movie 4 -->
                                    <div class="col-md-3 col-6 mb-4">
                                        <div class="movie-card-wrapper">
                                            <div class="card bg-dark text-white movie-card">
                                                <img src="./IMG/Movie 12.png" class="card-img-top" alt="Movie Poster" />
                                                <div class="card-body">
                                                    <h6 class="font_14 col_red">ROMANCE, DRAMA</h6>
                                                    <h4 class="card-title">Movie 4</h4>
                                                    <h6 class="font_14 mb-0">
                                                        <a class="text-white me-1 font_60 align-middle lh-1" href="#">
                                                            <i class="fa-solid fa-circle-play"></i>
                                                        </a>
                                                        SEASON 1 - 2020
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Movie 5 -->
                                    <div class="col-md-3 col-6 mb-4">
                                        <div class="movie-card-wrapper">
                                            <div class="card bg-dark text-white movie-card">
                                                <img src="./IMG/Movie 13.png" class="card-img-top" alt="Movie Poster" />
                                                <div class="card-body">
                                                    <h6 class="font_14 col_red">ROMANCE, DRAMA</h6>
                                                    <h4 class="card-title">Movie 5</h4>
                                                    <h6 class="font_14 mb-0">
                                                        <a class="text-white me-1 font_60 align-middle lh-1" href="#">
                                                            <i class="fa-solid fa-circle-play"></i>
                                                        </a>
                                                        SEASON 1 - 2020
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Movie 6 -->
                                    <div class="col-md-3 col-6 mb-4">
                                        <div class="movie-card-wrapper">
                                            <div class="card bg-dark text-white movie-card">
                                                <img src="./IMG/Comdy/Laugh Out Loud.png" class="card-img-top" alt="Movie Poster" />
                                                <div class="card-body">
                                                    <h6 class="font_14 col_red">ROMANCE, DRAMA</h6>
                                                    <h4 class="card-title">Movie 5</h4>
                                                    <h6 class="font_14 mb-0">
                                                        <a class="text-white me-1 font_60 align-middle lh-1" href="#">
                                                            <i class="fa-solid fa-circle-play"></i>
                                                        </a>
                                                        SEASON 1 - 2020
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end -->
                        </div>
                        <div>
                            <a href="@Url.Action("Index", "Movies")" class="btn btn-danger">更多電影</a>
                        </div>
                        <button class="carousel-control-prev carousel-control-prev-現正熱映"
                                type="button"
                                data-bs-target="#movieCarousel"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"
                                  aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next carousel-control-next-現正熱映"
                                type="button"
                                data-bs-target="#movieCarousel"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon"
                                  aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<!-- 憲政熱映  end-->